.bg{
  width: 100vw;
  height:100vh;
  background: linear-gradient( bottom left, RGB(247,202,201), RGB(146,168,209));
  position: relative;
}

.XpClockStyle{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 0%;
  top:5px;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.JlClockStyle{
  position: absolute;
  width: 200px;
  height: 100px;
  right: 0%;
  top:5px;

  color: RGBA(255,255,255,0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}