.xpTimeStyle{
  height: 80%;
  width:100px;
  position:absolute;
  margin:0px;
  top:15%;
  left: 5%;

  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: space-between;
}

