@keyframes moveIn {
    from {
        opacity: 0.1;
        top: 0;
    }

    to {
        opacity: 1;
        /*top:inherit;*/
    }
}

.moveCar{
    animation-duration: 2.5s;
    animation-name: moveIn;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;
}