@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron-Light'), local('Orbitron-Regular'), url("../../assets/Orbitron.woff2") format('woff2');
}

.fontStyle {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
}


.expired{
    color: #9E9E9E;
    opacity: 0.8;
}

.next{
    color: #1e1a1a;
}
