.container{
  background:white;
  width: 100%;
  height: 800px;
}

.slogan{
  display: flex;
  justify-content: center;
  align-items: center;

}

.slogan span{
  font-size: 2em;
  padding: 10px;
}


.intro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro span{
  width:50%;
  font-size: 1rem;
  /*line-height: 1.5em;*/
}

.main{
  margin-top: 50px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features{
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features div{
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.pic{
  width:27%;
  height: 600px;
  background-image: url('../../../../client/assets/images/主页.png');
  background-position: center center;
  background-size: cover;
}