.container{
  background-image: #ffffff;
  width: 100%;
  min-height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.info{
  margin-left: 10px;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BDBDBD;
}



/*媒体查询*/
@media only screen and (max-width:500px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}