.container{
  background-image: linear-gradient(to left, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  width: 100%;
  height: 800px;
}

.header{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table{
  width:900px;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro{
    height: 230px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.slogan{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan span{
  font-size: 2em;
  color: #fff;
}
.buttom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.b1{
  background:  linear-gradient(to top, #00cdac 0%, #8ddad5 100%);
  padding: 5px 30px;
  border-radius: 5px;

  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.b2{
  background:  linear-gradient(to top, #00cdac 0%, #8ddad5 100%);
  padding: 5px 30px;
  border-radius: 5px;

  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.attention{
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.attention span{
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
}


.pic{
  width:100%;
  height: 470px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pic div{
  width:500px;
  height: 100%;

  background-image:  url('../../../../client/assets/images/发布易物.png');
  background-position-y: 26%;
  background-position-x: center;  
}