.container{
  background:white;
  width: 100%;
  min-height: 800px;
}


.main{
  margin-top: 50px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features{
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features div{
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.pic{
  width:27%;
  height: 600px;
  background-image: url('../../../../client/assets/images/profile.png');
  background-position: center center;
  background-size: cover;
}


@media only screen and (max-width:500px) {

  .main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .features{
      width: 90%;
  }

  .features div{
    width: 90%;
  }
  .pic{
    width:90%;
    height: 600px;
    background-image: url('../../../../client/assets/images/profile.png');
    background-position: center center;
    background-size: cover;
  }
}